@import './variables.scss';

.columns {
    display: flex;
    flex-direction: row;
}
.column {
    flex-direction: column;
}

.is-justify-content-center {
    display: flex;
    justify-content: center;
} 

.is-primary {
    color: $primary;
}
.is-secondary {
    color: $secondary;
}
.is-third {
    color: $third
}
.is-fourth {
    color: $fourth
}

.is-large {
    font-size: 100px;
}

.mt-7 {
    margin-top: 4rem !important;
}

.mb-negative-1 {
    margin-bottom: -0.25rem;
}
.mb-negative-2 {
    margin-bottom: -0.5rem;
}

.mt-negative-1 {
    margin-top: -0.25rem !important;
}
.mt-negative-2 {
    margin-top: -0.5rem !important;
}
.mt-negative-3 {
    margin-top: -0.75rem !important;
}
.mt-negative-4 {
    margin-top: -1rem !important;
}
.mt-negative-5 {
    margin-top: -1.5rem !important;
}

.mt-1 {
    margin-top: 0.25rem !important;
}
.mt-2 {
    margin-top: 0.5rem !important;
}
.mt-3 {
    margin-top: 0.75rem !important;
}
.mt-4 {
    margin-top: 1rem !important;
}
.mt-5 {
    margin-top: 1.5rem !important;
}
.mt-6 {
    margin-top: 3rem !important;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.mb-3 {
    margin-bottom: 0.75rem !important;
}
.mb-4 {
    margin-bottom: 1rem !important;
}
.mb-5 {
    margin-bottom: 1.5rem !important;
}
.mb-6 {
    margin-bottom: 3rem !important;
}
.mb-7 {
    margin-bottom: 8rem !important;
}

.mr-1 {
    margin-right: 0.25rem !important;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.mr-3 {
    margin-right: 0.75rem !important;
}
.mr-4 {
    margin-right: 1rem !important;
}
.mr-5 {
    margin-right: 1.5rem !important;
}
.mr-6 {
    margin-right: 3rem !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}
.ml-2 {
    margin-left: 0.5rem !important;
}
.ml-3 {
    margin-left: 0.75rem !important;
}
.ml-4 {
    margin-left: 1rem !important;
}
.ml-5 {
    margin-left: 1.5rem !important;
}
.ml-6 {
    margin-left: 3rem !important;
}




.pt-1 {
    padding-top: 0.25rem !important;
}
.pt-2 {
    padding-top: 0.5rem !important;
}
.pt-3 {
    padding-top: 0.75rem !important;
}
.pt-4 {
    padding-top: 1rem !important;
}
.pt-5 {
    padding-top: 1.5rem !important;
}
.pt-6 {
    padding-top: 3rem !important;
}

.pb-1 {
    padding-bottom: 0.25rem !important;
}
.pb-2 {
    padding-bottom: 0.5rem !important;
}
.pb-3 {
    padding-bottom: 0.75rem !important;
}
.pb-4 {
    padding-bottom: 1rem !important;
}
.pb-5 {
    padding-bottom: 1.5rem !important;
}
.pb-6 {
    padding-bottom: 3rem !important;
}

.pr-1 {
    padding-right: 0.25rem !important;
}
.pr-2 {
    padding-right: 0.5rem !important;
}
.pr-3 {
    padding-right: 0.75rem !important;
}
.pr-4 {
    padding-right: 1rem !important;
}
.pr-5 {
    padding-right: 1.5rem !important;
}
.pr-6 {
    padding-right: 3rem !important;
}

.pl-1 {
    padding-left: 0.25rem !important;
}
.pl-2 {
    padding-left: 0.5rem !important;
}
.pl-3 {
    padding-left: 0.75rem !important;
}
.pl-4 {
    padding-left: 1rem !important;
}
.pl-5 {
    padding-left: 1.5rem !important;
}
.pl-6 {
    padding-left: 3rem !important;
}

.has-text-left {
    float: left;
}
.has-text-right {
    float: right;
}

.is-pointer {
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }